---
import BaseLayout from "../layouts/BaseLayout.astro";
import Awards from "../components/Awards.astro";
---

<BaseLayout>
  <!-- start banner -->
  <section class="p-0 top-space-margin position-relative overflow-hidden">
    <div class="container-fluid p-0 h-100 position-relative">
      <div class="row g-0">
        <div
          class="col-xl-4 col-lg-5 d-flex justify-content-center align-items-center ps-10 xxl-ps-6 xl-ps-4 md-ps-4 sm-ps-0 position-relative order-2 order-lg-1"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div
            class="vertical-title-center align-items-center justify-content-center flex-shrink-0 w-75px sm-w-50px"
          >
            <h1
              class="title fs-15 alt-font text-dark-gray fw-700 text-uppercase ls-1px text-uppercase d-flex w-auto align-items-center m-0"
              data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["about JCI Regatta"], "duration": 400, "delay": 0, "speed": 50, "easing": "easeOutQuad" }'
            >
            </h1>
          </div>
          <div
            class="border-start border-color-extra-medium-gray ps-40px sm-ps-20px position-relative z-index-9"
          >
            <h2
              class="text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-20 md-me-0 sm-mb-0 ls-minus-3px"
            >
              Developing Leaders for a Changing World
            </h2>
          </div>
        </div>
        <div
          class="col-xl-8 col-lg-7 position-relative one-half-screen order-1 order-lg-2 md-mb-50px"
        >
          <div class="overflow-hidden position-relative">
            <div
              class="w-100 gradient-overlay"
              data-anime='{ "effect": "slide", "direction": "lr", "color": "#f7f7f7", "duration": 1000, "delay": 0 }'
            >
              <img
                src="/src/assets/images/jciaction3.jpg"
                alt=""
                class="w-100 liquid-parallax"
                data-parallax-liquid="true"
                data-parallax-position="top"
                data-parallax-scale="1.05"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end banner -->
  <!-- start section  -->
  <section>
    <div class="container">
      <div class="row mb-6 sm-mb-50px">
        <div
          class="col-md-12 text-center text-md-start"
          data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div
            class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px"
            data-bottom-top="transform: translate3d(-50px, 0px, 0px);"
            data-top-bottom="transform: translate3d(50px, 0px, 0px);"
          >
            We are JCI
          </div>
        </div>
        <div class="col-12">
          <div
            class="row align-items-center align-items-lg-end"
            data-bottom-top="transform: translate3d(-30px, 0px, 0px);"
            data-top-bottom="transform: translate3d(30px, 0px, 0px);"
          >
            <div
              class="col-lg-3 col-md-4 text-md-end text-center md-mt-30px md-mb-20px"
              data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <div class="position-relative">
                <img
                  src="/"
                  class="animation-rotation position-relative z-index-2"
                  alt=""
                />
                <div class="absolute-middle-center w-100 z-index-1">
                  <img src="/" alt="" />
                </div>
              </div>
            </div>
            <div
              class="col-lg-5 col-md-6 text-center text-md-start"
              data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <div
                class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px"
              >
                Regatta
              </div>
            </div>
            <div
              class="col-lg-4 last-paragraph-no-margin md-mt-30px"
              data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <p
                class="w-95 md-w-80 mx-auto text-center text-lg-start sm-w-100"
              >
              Established in Iloilo in 2009, JCI Regatta derives its name from the Paraw Regatta Festival and strives to promote Iloilo, the festival, and cultivate leaders for positive community impact.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row g-0 counter-style-04"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Community of chapters</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="+" data-to="5000"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-mb-50px sm-mb-30px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Countries located worldwide</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="+" data-to="120"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div> -->
        <!-- <div
          class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px sm-mb-30px"
        >
          <div class="feature-box-content">
            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">
              Active citizens and leaders
            </p>
            <h2
              class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0"
              data-text="+"
              data-to="200,000"
            >
              <sup class="text-dark-gray top-0"
                ><i class="feather icon-feather-arrow-up icon-small"></i></sup
              >
            </h2>
          </div>
        </div> -->
        <!-- <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Onboarding conversions growth increased.</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="%" data-to="38"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div> -->
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="py-0">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-lg-6">
          <div
            class="outside-box-left-20 md-outside-box-left-0 overflow-hidden position-relative"
            data-parallax-liquid="true"
            data-parallax-transition="2"
            data-parallax-position="top"
          >
            <div
              class="liquid-parallax"
              data-parallax-liquid="true"
              data-parallax-position="bottom"
              data-parallax-scale="1.1"
              data-parallax-scale-fraction="0.0001"
            >
              <img
                class="w-100"
                src="../src/assets/images/jciregattagroup1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div
          class="col-xl-5 col-lg-6 offset-xl-1 z-index-9 md-mt-50px"
          data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <h1
            class="text-dark-gray alt-font mb-50px fw-600 ls-minus-2px md-mb-25px outside-box-left-15 md-outside-box-left-0 word-break-normal md-w-80 sm-w-100"
          >
            Rooted in Faith
          </h1>
          <p class="fs-20 fw-500 ls-minus-05px text-dark-gray mb-15px">
            JCI Regatta traces its roots back to the humble beginnings at <strong
            >
              Santa Maria Parish Church
            </strong> , where its founders laid the groundwork for establishing the
            local organization.
          </p>
          <p class="w-90 md-w-100 mb-35px">
            <strong class="text-dark-gray">
              2009 National President Fulbert Woo, 2009 JCI Iloilo President Rex
              Chua</strong
            >, and <strong class="text-dark-gray"> JCI Regatta Charter President Elmer Usi</strong> invited
            the members of the Santa Maria Parish and their network of young individuals
            to join JCI Regatta.
          </p>
          <p class="w-90 md-w-100 mb-35px">
            The pioneer members of JCI Regatta had their new member orientation
            on <strong class="text-dark-gray">March 23, 2009</strong>. The Lead Trainer for New Members
            Orientation was
            <strong class="text-dark-gray">Coach Gleendo Damariñas</strong>. It was sponsored by JCI
            Iloilo led by 2009 NP Fulbert Woo, 2009 RVP Joemari Moriente, <strong class="text-dark-gray"
            >
              2009 LO President Rex Chua</strong
            > and then VP <strong class="text-dark-gray">Franjieh Eon Angelo Tiu</strong>.
          </p>
          <p class="w-90 md-w-100 mb-35px">
            The Local Organization was formally established on <strong class="text-dark-gray"
              >March 30, 2009</strong
            > on the induction of its officers and members. <strong class="text-dark-gray"
              >2009 JCI President Jun Sup Shin</strong
            > of JCI Korea was the inducting officer.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section album -->
  <section class="overflow-hidden pb-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="outside-box-right-60 outside-box-left-60 sm-outside-box-right-0 sm-outside-box-left-0"
          >
            <div
              id="about1"
              class="swiper magic-cursor drag-cursor"
              data-slider-options='{ "slidesPerView": 1, "spaceBetween": 60, "loop": true, "autoplay": { "delay": 2000, "disableOnInteraction": false },  "pagination": { "el": ".slider-three-slide-pagination", "clickable": true, "dynamicBullets": true }, "navigation": { "nextEl": ".slider-three-slide-next", "prevEl": ".slider-three-slide-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'
            >
              <div class="swiper-wrapper">
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci1.jpg"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci2.webp"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci3.webp"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci4.jpg"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci5.jpg"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci6.jpg"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci7.jpg"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/jci8.webp"
                    class="w-80"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="overflow-hidden pb-0 pt-30px">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2 mb-9 mt-5">
        <div class="col md-mb-30px text-center text-lg-start">
          <h5 class="alt-font mb-0 text-dark-gray fw-500 w-80 lg-w-100">
            <strong>Rooted in Culture: JCI Regatta</strong>
          </h5>
        </div>
        <div class="col last-paragraph-no-margin text-center text-lg-start">
          <p>
            The local organization got its name from the traditional sailboat
            festival of Iloilo, the <strong class="text-dark-gray"
              >Paraw Regatta Festival. JCI Iloilo</strong
            > was one of the original partners of the festival since its inception
            in
            <strong class="text-dark-gray">1973</strong>. It has been their desire to promote further
            Iloilo and the festival by naming the new organization, <strong class="text-dark-gray">
              JCI Regatta</strong
            >.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img src="../src/assets/images/paraw.webp" class="w-100" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="pb-0">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-5 md-mb-20px sm-mb-0"
          data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="text-dark-gray fw-600 ls-minus-2px alt-font">
            Mission, Vision, Values
          </h3>
        </div>
        <div
          class="col-lg-7"
          data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div class="row">
            <div class="col-md-5">
              <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">
                Our Mission
              </div>
            </div>
            <div class="col-md-7 last-paragraph-no-margin">
              <p>
                To provide leadership development opportunities that empower
                young people to create positive change
              </p>
            </div>
          </div>
          <div
            class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"
          >
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">
                Our Vision
              </div>
            </div>
            <div class="col-md-7 last-paragraph-no-margin">
              <p>To be the foremost global network of young leaders</p>
            </div>
          </div>
          <div
            class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"
          >
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">
                Our Values
              </div>
            </div>
            <div class="col-md-7 last-paragraph-no-margin">
              <p>We believe:</p>
              
                <p>
                  That faith in God gives meaning and purpose to human life
                </p>
                <p>
                  That the brotherhood of man transcends the sovereignty of
                  nations
                </p>
                <p>
                  That economic justice can best be won by free men through free
                  enterprise
                </p>
                <p>That earth’s great treasure lies in human personality</p>
                <p>And that service to humanity is the best work of life.</p>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end section -->

  <!-- Awards Starts -->
  <Awards />
  <!-- Awards Ends -->

  <!-- start section -->
  <section>
    <div class="container">
      <div class="container">
        <h4 class="text-dark-gray text-center alt-font fw-600 ls-minus-2px">
          JCI Regatta Officers
        </h4>
      </div>
      <div
        class="row row-cols-1 row-cols-lg-4 row-cols-sm-2"
        data-anime='{ "el": "childs", "translateY": [30, 0], "rotateX":[30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/terrante.webp" alt="" />
            <img
              src="../src/assets/officers/terrante_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.twitter.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-twitter icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Rommel Terante</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">2024 LO President</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Rommel Terante <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >2024 LO President</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/agustin.webp" alt="" />
            <img
              src="../src/assets/officers/agustin_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.facebook.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-facebook-f icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Agustin Estoque</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Immediate Past President</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Agustin Estoque <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Immediate Past President</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/infante.webp" alt="" />
            <img
              src="../src/assets/officers/infante_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Joey Infante</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Executive Vice President</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Joey Infante <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Executive Vice President</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/jo.webp" alt="" />
            <img
              src="../src/assets/officers/jo_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Jo Maree Pearl Oyco</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">VP for Internal Affairs</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Jo Maree Pearl Oyco <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >VP for Internal Affairs</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
      </div>
    </div>
    <div class="container">
      <div
        class="row row-cols-1 row-cols-lg-4 row-cols-sm-2"
        data-anime='{ "el": "childs", "translateY": [30, 0], "rotateX":[30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/blessed.webp" alt="" />
            <img
              src="../src/assets/officers/blessed_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.twitter.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-twitter icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Blessed Bea Plondaya</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">VP for External Affairs</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Blessed Bea Plondaya <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >VP for External Affairs</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/rufa.webp" alt="" />
            <img
              src="../src/assets/officers/rufa_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.facebook.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-facebook-f icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Rufa Faith Dayao</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">VP for Training Affairs</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Rufa Faith Dayao <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >VP for Training Affairs</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/rogelyn.webp" alt="" />
            <img
              src="../src/assets/officers/rogelyn_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Rogelyn Jarlega</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Secretary</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Rogelyn Jarlega <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Secretary</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/wendy.webp" alt="" />
            <img
              src="../src/assets/officers/wendy_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Wendy Mae Hormigoso </span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Treasurer</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Wendy Mae Hormigoso <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Treasurer</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
      </div>
    </div>
    <div class="container">
      <div
        class="row row-cols-1 row-cols-lg-4 row-cols-sm-2"
        data-anime='{ "el": "childs", "translateY": [30, 0], "rotateX":[30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/rona.webp" alt="" />
            <img
              src="../src/assets/officers/rona_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.twitter.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-twitter icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Rona May Eufracio</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Director for Business & Entrepreneurship</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Rona May Eufracio <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Director for Business & Entrepreneurship</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/andig.webp" alt="" />
            <img
              src="../src/assets/officers/andig_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.facebook.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-facebook-f icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">John Vincent Andig</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Director for Community Impact</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              John Vincent Andig <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Director for Community Impact</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/gatapan.webp" alt="" />
            <img
              src="../src/assets/officers/gatapan_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Iana Frances Gatpatan</span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Director for Individual Development</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Iana Frances Gatpatan <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Director for Individual Development</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/onate.webp" alt="" />
            <img
              src="../src/assets/officers/onate_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                    <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                </div>
                                <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                    <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Ma. Jennifer Oñate </span>
                                    <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Director for International Cooperation</span>
                                </div> 
                            </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Ma. Jennifer Oñate <br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Director for International Cooperation</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
      </div>
    </div>
    <div class="container">
      <div
        class="row row-cols-1 row-cols-lg-4 row-cols-sm-2"
        data-anime='{ "el": "childs", "translateY": [30, 0], "rotateX":[30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/cam.webp" alt="" />
            <img
              src="../src/assets/officers/cam_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                        <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                            <a href="https://www.twitter.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-twitter icon-small"></i></a>
                                        </div>
                                        <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                            <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Camille Arianne Masculino</span>
                                            <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Director for Media & Communication</span>
                                        </div> 
                                    </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Camille Arianne Masculino<br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Director for Media & Communication</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10 md-mb-30px">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/galaza.webp" alt="" />
            <img
              src="../src/assets/officers/galaza_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                        <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                            <a href="https://www.facebook.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-facebook-f icon-small"></i></a>
                                        </div>
                                        <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                            <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Nove Zara Jean Gallaza</span>
                                            <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Deputy Secretary</span>
                                        </div> 
                                    </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Nove Zara Jean Gallaza<br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Deputy Secretary</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/silvero.webp" alt="" />
            <img
              src="../src/assets/officers/silvero_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                        <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                            <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                        </div>
                                        <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                            <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Sandro Silverio</span>
                                            <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Local Skills Development Director</span>
                                        </div> 
                                    </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Sandro Silverio<br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Local Skills Development Director</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class="col team-style-10">
          <figure class="mb-0 position-relative overflow-hidden">
            <img src="../src/assets/officers/danila.webp" alt="" />
            <img
              src="../src/assets/officers/danila_hover.webp"
              class="hover-switch-image"
              alt=""
            />
            <!-- <figcaption class="w-100 h-100 d-flex flex-wrap">
                                        <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                                            <a href="https://www.instagram.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-instagram icon-small"></i></a>
                                        </div>
                                        <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                            <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">Eleazar Danila </span>
                                            <span class="member-designation fs-15 lh-20 ms-auto alt-font ">Deputy Skills Development Director</span>
                                        </div> 
                                    </figcaption> -->
          </figure>
          <div class="text-center container mt-2">
            <p
              class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px"
            >
              Eleazar Danila<br />
              <span class="member-designation fs-15 lh-20 ms-auto alt-font"
                >Deputy Skills Development Director</span
              >
            </p>
          </div>
        </div>
        <!-- end team member item -->
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="overflow-hidden pb-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="outside-box-right-60 outside-box-left-60 sm-outside-box-right-0 sm-outside-box-left-0"
          >
            <div
              id="about2"
              class="swiper magic-cursor drag-cursor"
              data-slider-options='{ "slidesPerView": 1, "spaceBetween": 60, "loop": true, "autoplay": { "delay": 2000, "disableOnInteraction": false },  "pagination": { "el": ".slider-three-slide-pagination", "clickable": true, "dynamicBullets": true }, "navigation": { "nextEl": ".slider-three-slide-next", "prevEl": ".slider-three-slide-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'
            >
              <div class="swiper-wrapper">
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod1.webp"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod2.webp"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod3.webp"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod4.webp"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod5.webp"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod6.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod7.webp"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod8.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod9.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod10.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod11.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod12.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod13.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod14.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide">
                  <img
                    src="../src/assets/images/bod15.jpg"
                    class="w-100"
                    alt=""
                  />
                </div>
                <!-- end slider item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<!-- end section -->