---
import BaseLayout from "../layouts/BaseLayout.astro";
import VolunteerSection from "../components/VolunteerSection.astro";

---

<BaseLayout>
  <!-- start banner -->
  <section class="p-0 top-space-margin position-relative overflow-hidden">
    <div class="container-fluid p-0 h-100 position-relative">
      <div class="row g-0">
        <div
          class="col-xl-4 col-lg-5 d-flex justify-content-center align-items-center ps-10 xxl-ps-6 xl-ps-4 md-ps-4 sm-ps-0 position-relative order-2 order-lg-1"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div
            class="vertical-title-center align-items-center justify-content-center flex-shrink-0 w-75px sm-w-50px"
          >
            <h1
              class="title fs-15 alt-font text-dark-gray fw-700 text-uppercase ls-1px text-uppercase d-flex w-auto align-items-center m-0"
              data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["Sail With Us"], "duration": 400, "delay": 0, "speed": 50, "easing": "easeOutQuad" }'
            >
            </h1>
          </div>
          <div
            class="border-start border-color-extra-medium-gray ps-40px sm-ps-20px position-relative z-index-9"
          >
            <h2
              class="text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-20 md-me-0 sm-mb-0 ls-minus-3px"
            >
              Join JCI Regatta Now!
            </h2>
          </div>
        </div>
        <div
          class="col-xl-8 col-lg-7 position-relative one-half-screen order-1 order-lg-2 md-mb-50px"
        >
          <div class="overflow-hidden position-relative">
            <div
              class="w-100 gradient-overlay"
              data-anime='{ "effect": "slide", "direction": "lr", "color": "#f7f7f7", "duration": 1000, "delay": 0 }'
            >
              <img
                src="/src/assets/images/jciregattagroup1.webp"
                alt=""
                class="w-100 liquid-parallax"
                data-parallax-liquid="true"
                data-parallax-position="top"
                data-parallax-scale="1.05"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end banner -->

  <!-- start section -->
  <section>
    <div class="container">
      <div class="row mb-6 sm-mb-50px">
        <div
          class="col-md-12 text-center text-md-start"
          data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div
            class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px override"
            data-bottom-top="transform: translate3d(-50px, 0px, 0px);"
            data-top-bottom="transform: translate3d(50px, 0px, 0px);"
          >
            10 Things to Know
          </div>
        </div>
        <div class="col-12">
          <div
            class="row align-items-center align-items-lg-end"
            data-bottom-top="transform: translate3d(-30px, 0px, 0px);"
            data-top-bottom="transform: translate3d(30px, 0px, 0px);"
          >
            <div
              class="col-lg-3 col-md-4 text-md-end text-center md-mt-30px md-mb-20px"
              data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <div class="position-relative">
                <img
                  src="images/demo-branding-agency-about-01.png"
                  class="animation-rotation position-relative z-index-2"
                  alt=""
                />
                <div class="absolute-middle-center w-100 z-index-1">
                  <img src="images/demo-branding-agency-about-02.png" alt="" />
                </div>
              </div>
            </div>
            <div
              class="col-lg-5 col-md-6 text-center text-md-start"
              data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <div
                class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px override"
              >
                About JCI
              </div>
            </div>
            <div
              class="col-lg-4 last-paragraph-no-margin md-mt-30px"
              data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <p
                class="w-95 md-w-80 mx-auto text-center text-lg-start sm-w-100"
              >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="separator-line-1px bg-extra-medium-gray"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >01</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px">
            Leadership Development
          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            At JCI our members get access to hands-on leadership experiences at
            the local, national and international level
          </p>
          <div class="row">
            <div class="col-xl-5 col-md-6">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Become a more
                  confident and capable leader
                </li>
              </ul>
            </div>
            <div class="col-xl-5 col-md-6">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Rank up your
                  soft skills and become a more marketable leader
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >02</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Grow Your Professional Network
          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            Access a world-wide network of enterprising young leaders age 18-40,
            spanning all industries, to grow your professional reach
          </p>
          <div class="row">
            <div class="col-xl-5 col-md-6">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Lead generation
                  through an international network
                </li>
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Access a unique
                  online community of like-minded enterprising people
                </li>
              </ul>
            </div>
            <div class="col-xl-5 col-md-6">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Resources and
                  opportunities from partners such as BNI, WBAF
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >03</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Attend Exciting Global Events
          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            Enrich yourself with cultural experiences and skills development
            opportunities at our five annual conferences held in stunning
            locations like Curacao, Sakai Takashi, Bruges, Hammamet, and more!
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >04</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Get Involved, Be Innovative
          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            Active Citizens use the action framework as our roadmap to create
            sustainable impact and to create positive change in our community
            and ourselves.
          </p>
          <div class="row">
            <div class="col-xl-5 col-md-6">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li><i class="fa-solid fa-plus fs-12 me-10px"></i>Analyze</li>
                <li><i class="fa-solid fa-plus fs-12 me-10px"></i>Develop</li>
              </ul>
            </div>
            <div class="col-xl-5 col-md-6">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li><i class="fa-solid fa-plus fs-12 me-10px"></i>Execute</li>
                <li><i class="fa-solid fa-plus fs-12 me-10px"></i>Review</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >05</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Special Access to JCI Experts
          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            From opportunities to develop business pitching skills to courses
            and seminars on Emotional Intelligence, Financial Management and
            Entrepreneurship, we create opportunities for members to engage with
            experts across many disciplines
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >06</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Grow Your Social Network
          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            Break the stagnant trends of the digital age and make in-person
            connections - add driven and ethical leaders to your social circle
          </p>

          <div class="row">

            <div class="col-xl-12 col-md-12">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >

                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Expand your
                  personal network through meaningful connections
                </li>
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i> Join our global
                  family of over 200,000 alumni and members from over 100 countries
                </li>
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i> Make lifelong friends
                  from all over the world
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- start section -->
 <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >07</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Learn New Skills

          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            We make sure to keep our Skills Development materials and offers up to date and in accordance to a fast paced world. Our Library contains several different courses for our members that are available at all times and in constant updating according world trends and our members feedback.

          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->


 <!-- start section -->
 <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >08</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Boost Your CV

          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            ever hear “we’re looking for someone with more experience” ever again. With JCI, you will run out of space while listing your accomplishments


          </p>

          <div class="row">

            <div class="col-xl-12 col-md-12">
              <ul
                class="p-0 m-0 list-style-02 text-dark-gray fw-500"
                data-anime='{ "el": "childs", "translateY": [30, 0], "rotateY":[100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
              
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i>Gain unique experience and connections that will help you get ahead
                </li>
                <li>
                  <i class="fa-solid fa-plus fs-12 me-10px"></i> Trackable and hands-on growth and life experience

                </li>
              
              </ul>
            </div>
       

        </div>
      </div>
    </div>
  </section>
  <!-- end section -->


   <!-- start section -->
 <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >09</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Join the Next Generation of Leaders


          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
JCI is an organization with a 100-year legacy. We're planning a hundred more.
          </p>
        </div>
      </div>
    </div>
  </section>


   <!-- start section -->
 <section class="pt-0">
    <div class="container">
      <div class="row mb-8">
        <div class="col-lg-2 col-md-2 text-md-end">
          <span
            class="fs-130 xl-fs-100 md-fs-80 lh-100 md-lh-80 alt-font fw-700 text-sliding-line bg-extra-medium-gray"
            >10</span
          >
        </div>
        <div
          class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h3 class="alt-font fw-600 mb-0 text-dark-gray ls-minus-3px mb-0">
            Push Yourself 
            Hard to Succeed
            

          </h3>
        </div>
        <div
          class="col-lg-6 offset-xl-1 md-mt-20px"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <p>
            JCI asks for the best from its members, and gives them the best opportunities, experiences and support in return. If you are ready to give it your all and see that investment returned to you, JCI is where you should be. 

          </p>
        </div>
      </div>
    </div>
  </section>

      <!-- VOLUNTEER -->
      <VolunteerSection />

</BaseLayout>
<!-- end section -->




