---
import BaseLayout from '../layouts/BaseLayout.astro';

---

<BaseLayout>
        <!-- start banner -->
        <section class="pb-0 top-space-margin position-relative overflow-hidden">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="text-dark-gray fw-600 alt-font ls-minus-3px sm-ls-minus-4px" data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["We are JCI Regatta Iloilo"], "duration": 400, "delay": 0, "speed": 20, "easing": "easeOutQuad" }'></h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- end banner -->
        <!-- start section --> 
        <section class="pt-3 pb-0 lg-pb-50px">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-6 text-md-end text-center sm-mb-30px">
                        <div class="position-relative" data-anime='{"translateX": [50, 0], "scale": [0.7, 1], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <img src="/" class="animation-rotation position-relative z-index-2" alt="">
                            <div class="absolute-middle-center w-100 z-index-1"><img src="/" alt=""></div> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 last-paragraph-no-margin text-md-start text-center">
                        <p class="text-dark-gray w-85 lg-w-100 sm-w-90 sm-mx-auto">
                            There is a limit to what governments are able to achieve in society. As responsible citizens in a globalized world, <strong>JCI Regatta members</strong> take on the challenges around them through <strong>local development initiatives</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="position-relative pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-5 filter-content">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 50px, 0px);" data-top-bottom="transform: translate3d(0px, -50px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/tosia">
                                            <img src="/src/assets/images/tosia2.png" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="/projects/tosia" class="text-dark-gray ls-minus-05px ls-minus-05px fw-600 fs-22 alt-font">TOSIA</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <br>
                                        <p>TOSIA (The Outstanding Students of Iloilo Awards) is an annual Youth Development Program of JCI Regatta that gives due honor and credit to Ilonggo students who excel in four pillars namely: academics, leadership excellence, community involvement, and faith.
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-7 col-md-7 filter-content offset-xl-1">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 100px, 0px)" data-top-bottom="transform: translate3d(0px, 180px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/balangaw">
                                            <img src="/src/assets/images/balangawproj1.webp" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="/projects/balangaw" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Balangaw</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">For People with Special Needs</div>
                                        <br>
                                        <p>
                                            BALANGAW is JCI Regatta's flagship program that advocates for Awareness, Acceptability, and Accessibility of Persons with Special Needs (PSNs)
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-12 filter-content mt-20 lg-mt-0 mb-3 lg-mb-0">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -80px, 0px);" data-top-bottom="transform: translate3d(0px, 80px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/duagkagkasanag">
                                            <img src="/src/assets/images/duagkagkasanag.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="/projects/duagkagkasanag" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Duag kag Kasanag</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Christmas Gifting-giving Activity</div>
                                        <br>
                                        <p>
                                            “DUAG KAG KASANAG”, a Christmas Gift Giving Activity seeks to fulfill the wishes and dreams of those in need, especially the underserved community.
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-7 col-md-7 filter-content mt-5 lg-mt-0">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 50px, 0px);" data-top-bottom="transform: translate3d(0px, -50px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="https://www.facebook.com/jciregattailoilo/posts/pfbid032X8TNmoZYbGWxr9CSfJrvmjSXsZnDWMRisQrFZW1vkzMmpBJarP3ndpC7JTianT3l">
                                            <img src="/src/assets/images/notebookrecycle.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="https://www.facebook.com/jciregattailoilo/posts/pfbid032X8TNmoZYbGWxr9CSfJrvmjSXsZnDWMRisQrFZW1vkzMmpBJarP3ndpC7JTianT3l" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Notebook mo, Recycle mo</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Notebook Recycling Project</div>
                                        <br>
                                        <p>
                                            JCI Regatta  innovated a project  entitled “Notebook mo, Recycle ko ”wherein unused pages of notebooks are gathered and put together to make new notebooks. Through this, we can save more trees and take part in mitigating climate change. The products of this project were distributed to our partner schools and beneficiaries. 
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-4 col-md-5 filter-content offset-xl-1 mt-3 lg-mt-0">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -50px, 0px);" data-top-bottom="transform: translate3d(0px, 50px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/panublion">
                                            <img src="/src/assets/images/panublion.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="/projects/panublion" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Panublion</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Community Project for Indigenous People</div>

                                        <br>

                                        <p>
                                            Panublion, a Hiligaynon word for “legacy”, is a local cultural affairs program of JCI Regatta that aims to alleviate the poverty issues of the Aeta community in Panay and Guimaras Island.
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-12 mt-5 lg-mt-0 filter-content">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -80px, 0px);" data-top-bottom="transform: translate3d(0px, 80px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/projectugat">
                                            <img src="/src/assets/images/projectugat.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px lg-pb-0">
                                        <a href="/projects/projectugat" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Project UGAT</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <br>

                                        <p>

                                            JCI Regatta did not just initiate a program, we initiated a movement. Project UGAT is a movement to go beyond just planting, we need to go even deeper to go even further.

                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-7 col-md-7 filter-content mt-5 lg-mt-0">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 50px, 0px);" data-top-bottom="transform: translate3d(0px, -50px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <!-- <a href="/projects/kaakbay"> -->
                                        <a href="https://www.facebook.com/jciregattakaakbay">
                                            <img src="/src/assets/images/projectkaakbay.png" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="https://www.facebook.com/jciregattakaakbay" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Project Kaakbay</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">For Mental Health Awareness</div>

                                        <br>

                                        <p>
                                            “Project Kaakbay”, a mental health initiative for the Ilonggo teachers that encourages them to be mindful and maintain their mental well-being. endeavors to help teachers who work in any public or private pre-school, elementary, or high school in Iloilo City.
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-4 col-md-5 filter-content offset-xl-1 mt-3 lg-mt-0">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -50px, 0px);" data-top-bottom="transform: translate3d(0px, 50px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/she">
                                            <img src="/src/assets/images/SHE.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="/projects/she" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">S.H.E.</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Self Health Educational Program for National Women's Month</div>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-4 col-md-5 filter-content">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 50px, 0px);" data-top-bottom="transform: translate3d(0px, -50px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="/projects/abkd">
                                            <img src="/src/assets/images/ABKD.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="/projects/abkd" class="text-dark-gray ls-minus-05px ls-minus-05px fw-600 fs-22 alt-font">Project ABKD+</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Startup Educational Project</div>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <div class="col-xl-7 col-md-7 filter-content offset-xl-1">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 100px, 0px)" data-top-bottom="transform: translate3d(0px, 180px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                            <img src="/src/assets/images/reach.jpg" alt="" /> 
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                        <a href="#" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">REACH</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Digital Marketing Campaign</div>

                                        <br>

                                        <p>
                                            The REACH Campaign (Respond, Empower, Access, Connect, and Help)  showcases our commitment to adapt and innovate in today's digital world.This digital marketing campaign have strengthened partnerships and volunteerism, linking us with local communities and forging new global alliances. 
                                        </p>
                                    </div>
                                </div>
                            </li>  
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                    <!-- <div class="col-12 mt-20 lg-mt-0 filter-content">
                        <ul class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            <li class="grid-item grid-item-single transition-inner-all">
                                <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -80px, 0px);" data-top-bottom="transform: translate3d(0px, 80px, 0px);">
                                    <div class="portfolio-image bg-extra-medium-gray">
                                        <a href="sailinginvasion">
                                            <img src="/src/assets/images/projectugat.jpg" alt="" /> 
                                        </a>
                                    </div>
                                    <div class="portfolio-caption pt-35px pb-35px sm-pt-20px lg-pb-0">
                                        <a href="sailinginvasion" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Sailing Invasion</a>
                                        <span class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                        <div class="d-inline-block">Sailing Invasion</div>

                                        <br>

                                        <p>

                                            Sailing Invasion, our flagship program, is a comprehensive one-day event that embodies our commitment to community service through medical missions, book drives, educational lectures to youth, parents, and senior citizens, and livelihood programs right within the community. 

                                        </p>
                                    </div>
                                </div>
                            </li>  
                        </ul>
                    </div> -->
          

           
        </section>
        <!-- end section -->

</BaseLayout>