<!-- start section -->
<section class="big-section position-relative">
  <div
    class="background-position-center-top background-no-repeat position-absolute h-100 w-100 left-0px top-0px"
    style="background-image: url('src/assets/jci/jcidemomap.png')"
  >
  </div>
  <div class="container position-relative">
    <div
      class="row justify-content-center"
      data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
    >
      <div class="col-xl-4 col-md-5">
        <h2 class="alt-font text-dark-gray mb-30px fw-600 ls-minus-3px">
          Quadro <br /> Awards<i
            class="bi bi-trophy-fill d-inline-block align-top ms-10px animation-zoom icon-very-medium text-yellow"
          ></i>
        </h2>
        <div class="d-flex md-mb-25px">
          <!-- start slider navigation -->
          <div
            class="slider-one-slide-prev-1 text-dark-gray swiper-button-prev slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </div>
          <div
            class="slider-one-slide-next-1 text-dark-gray swiper-button-next slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </div>
          <!-- end slider navigation -->
        </div>
      </div>
      <div class="col-xl-6 col-md-7 overflow-hidden offset-xl-2">
        <div
          class="swiper"
          data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView":1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'
        >
          <div class="swiper-wrapper">
            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> SHARED VISION </strong>
                <br />
                Most Outstanding JCI Local Organization Award Category 3

                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> Pres. Raymart Escopel </strong>
                <br />
                Most Outstanding Local Organization President Category 3

                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> The Outstanding Students of Iloilo Awards </strong>
                <br />
                Best Youth Development Program

                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> Balangaw's BIZ+ABILITY </strong>
                <br />
                Best Inclusivity Program for Differently Abled Persons

                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong>
                  REACH - Respond. Empower. Access. Connect. Help
                </strong>
                <br />
                Best Digital Marketing Campaign

                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> Harboring Forward </strong>
                <br />

                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> CoLOVEboration </strong>
                <br />
                Best Fund-Raising Program
                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO MERIT AWARDS
              </span>
            </div>
            <!-- end review item -->

            <!-- start review item -->
            <div class="swiper-slide">
              <h5
                class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
              >
                <!-- <strong> -->
                <strong> Project Kaakbay </strong>
                <br />
                Best Public Health Program
                <!-- </strong> -->
              </h5>
              <span
                class="text-gradient-base-color fw-700 text-uppercase ls-1px"
              >
                2022, QUADRO MERIT AWARDS
              </span>
            </div>
            <!-- end review item -->
          </div>
        </div>
      </div>

      <!-- International -->
      <div class="container position-relative mt-5">
        <div
          class="row justify-content-center"
          data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div class="col-xl-4 col-md-5">
            <h2 class="alt-font text-dark-gray mb-30px fw-600 ls-minus-3px">
              International Awards<i
                class="bi bi-globe d-inline-block align-top ms-10px animation-zoom icon-very-medium text-yellow"
              ></i>
            </h2>
            <div class="d-flex md-mb-25px">
              <!-- start slider navigation -->
              <div
                class="slider-one-slide-prev-2 text-dark-gray swiper-button-prev slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
              >
                <i class="fa-solid fa-arrow-left"></i>
              </div>
              <div
                class="slider-one-slide-next-2 text-dark-gray swiper-button-next slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </div>
              <!-- end slider navigation -->
            </div>
          </div>
          <div class="col-xl-6 col-md-7 overflow-hidden offset-xl-2">
            <div
              class="swiper"
              data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-2", "prevEl": ".slider-one-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView":1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'
            >
              <div class="swiper-wrapper">
                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    BEST NEW LOCAL ORGANIZATION OF THE ASIA AND THE PACIFIC

                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    2011 Asia Pacific Conference Manila, Philippines
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    BEST LOCAL COMMUNITY DEVELOPMENT AWARD (PINOY ICON)

                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    2011 Asia Pacific Conference Manila, Philippines
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    Top 3 Best Local Community Empowerment Program Building Hope
                    in Kati Kati, Guimaras
                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    ASPAC 2016 Kaohsiung, Taiwan
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    Top 3 Best Local Community Empowerment Program Building Hope
                    in Kati Kati, Guimaras
                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    ASPAC 2016 Kaohsiung, Taiwan
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    Nominee Best Local Growth and Development Program PUSUng Regatta

                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    ASPAC 2016 Kaohsiung, Taiwan
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    Nominee Best Local Peace Project JCI REGATTA’s Daigon: Ambag
                    kag Ambahanon

                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    ASPAC 2018 Kagoshima, Japan
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    Nominee Best Local Individual Development Program Share It 2.0:
                    Ideas Worth Sharing

                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    ASPAC 2022 Sakaitakaishi, Japan WorldCon 2022 Hong Kong
                  </span>
                </div>
                <!-- end review item -->

                <!-- start review item -->
                <div class="swiper-slide">
                  <h5
                    class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                  >
                    <!-- <strong> -->
                    Nominee Best Local Global Goals Project UNSDG Advocacy Jam 2.0

                    <!-- </strong> -->
                  </h5>
                  <span
                    class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                  >
                    ASPAC 2023 Jakarta, Indonesia
                  </span>
                </div>
                <!-- end review item -->
              </div>
            </div>
          </div>

          <!-- national -->
          <div class="container position-relative mt-5">
            <div
              class="row justify-content-center"
              data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <div class="col-xl-4 col-md-5">
                <h2 class="alt-font text-dark-gray mb-30px fw-600 ls-minus-3px">
                  National Awards<i
                    class="bi bi-flag-fill d-inline-block align-top ms-10px animation-zoom icon-very-medium text-yellow"
                  ></i>
                </h2>
                <div class="d-flex md-mb-25px">
                  <!-- start slider navigation -->
                  <div
                    class="slider-one-slide-prev-3 text-dark-gray swiper-button-prev slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
                  >
                    <i class="fa-solid fa-arrow-left"></i>
                  </div>
                  <div
                    class="slider-one-slide-next-3 text-dark-gray swiper-button-next slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
                  >
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                  <!-- end slider navigation -->
                </div>
              </div>
              <div class="col-xl-6 col-md-7 overflow-hidden offset-xl-2">
                <div
                  class="swiper"
                  data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-3", "prevEl": ".slider-one-slide-prev-3" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView":1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'
                >
                  <div class="swiper-wrapper">
                    <!-- start review item -->
                    <div class="swiper-slide">
                      <h5
                        class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                      >
                        <!-- <strong> -->
                        2022 BEST DIGITAL MARKETING CAMPAIGN

                        <!-- </strong> -->
                      </h5>
                      <span
                        class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                      >
                        JCI Regatta Surigao City, Philippines
                      </span>
                    </div>
                    <!-- end review item -->

                    <!-- start review item -->
                    <div class="swiper-slide">
                      <h5
                        class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                      >
                        <!-- <strong> -->
                        2021 BEST LOCAL ORGANIZATION CATEGORY 3

                        <!-- </strong> -->
                      </h5>
                      <span
                        class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                      >
                        JCI Regatta Isabela City, Philippines
                      </span>
                    </div>
                    <!-- end review item -->

                    <!-- start review item -->
                    <div class="swiper-slide">
                      <h5
                        class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                      >
                        <!-- <strong> -->
                        2020 BEST YOUTH ACTIVITIES PROGRAM

                        <!-- </strong> -->
                      </h5>
                      <span
                        class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                      >
                        The Outstanding Students of Iloilo Awards (TOSIA)
                        Manila, Philippines
                      </span>
                    </div>
                    <!-- end review item -->

                    <!-- start review item -->
                    <div class="swiper-slide">
                      <h5
                        class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                      >
                        <!-- <strong> -->
                        2016 BEST YOUTH ACTIVITIES PROGRAM

                        <!-- </strong> -->
                      </h5>
                      <span
                        class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                      >
                        The Outstanding Students of Iloilo Awards (TOSIA) Cebu
                        City, Philippines
                      </span>
                    </div>
                    <!-- end review item -->

                    <!-- start review item -->
                    <div class="swiper-slide">
                      <h5
                        class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                      >
                        <!-- <strong> -->
                        2015 BEST ASSISTANCE TO THE HANDICAPPED

                        <!-- </strong> -->
                      </h5>
                      <span
                        class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                      >
                        BALANGAW Dagupan City, Pangasinan
                      </span>
                    </div>
                    <!-- end review item -->
                  </div>
                </div>
              </div>

              <!-- Public -->
              <div class="container position-relative mt-5">
                <div
                  class="row justify-content-center"
                  data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
                >
                  <div class="col-xl-4 col-md-5">
                    <h2
                      class="alt-font text-dark-gray mb-30px fw-600 ls-minus-3px"
                    >
                      Public Speaking<i
                        class="bi bi-megaphone-fill d-inline-block align-top ms-10px animation-zoom icon-very-medium text-yellow"
                      ></i>
                    </h2>
                    <div class="d-flex md-mb-25px">
                      <!-- start slider navigation -->
                      <div
                        class="slider-one-slide-prev-4 text-dark-gray swiper-button-prev slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
                      >
                        <i class="fa-solid fa-arrow-left"></i>
                      </div>
                      <div
                        class="slider-one-slide-next-4 text-dark-gray swiper-button-next slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white"
                      >
                        <i class="fa-solid fa-arrow-right"></i>
                      </div>
                      <!-- end slider navigation -->
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-7 overflow-hidden offset-xl-2">
                    <div
                      class="swiper"
                      data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-4", "prevEl": ".slider-one-slide-prev-4" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView":1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'
                    >
                      <div class="swiper-wrapper">
                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2011 - CHARIE GINETE-ILON
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            Champion, Tacloban City AreaCon and Zamboanga City
                            NatCon Representative of the Philippines, ASPAC 2012
                            Hong Kong
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2012 - VINNIE TAN
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            2nd Place, Cebu City AreaCon
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2013 - DIOSPYROS FUENTES
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            2nd Place, Tacloban City AreaCon
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2014 - JOEY INFANTE
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            2nd Place, Bacolod City AreaCon
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2015 - VICENTE BILAN
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            Champion, Cebu City AreaCon and Dagupan NatCon
                            Champion, ASPAC 2016 Kaohsiung, Taiwan Asia-Pacific
                            Representative, World Congress 2016 Quebec, Canada
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2016 - DIOSPYROS FUENTES
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            2nd Place, Tanauan Area Con
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2017 - JO MAREE PEARL OYCO
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            Champion, Bacolod City AreaCon Area Representative,
                            Tagaytay City NatCon
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2018 - ANGELO HENRY “GELO” TRIBUNAL

                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            Champion, Mandaue City AreaCon and Runner Up, Iligan
                            NatCon
                          </span>
                        </div>
                        <!-- end review item -->

                        <!-- start review item -->
                        <div class="swiper-slide">
                          <h5
                            class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font"
                          >
                            <!-- <strong> -->
                            2020 - SANDRO SILVERIO
                            <!-- </strong> -->
                          </h5>
                          <span
                            class="text-gradient-base-color fw-700 text-uppercase ls-1px"
                          >
                            Champion, Roxas City AreaCon and Manila NatCon
                            Champion, ASPAC 2021 Taichung, Taiwan Asia-Pacific
                            Representative, World Congress 2021 Johannesburg,
                            South Africa
                          </span>
                        </div>
                        <!-- end review item -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end section -->
      </div>
    </div>
  </div>
</section>
