---
import JCILogo from "../assets/compressed/JCIRegattaLogo.png";
---

<!-- start header -->
<header>
  <!-- start navigation -->
  <nav
    class="navbar navbar-expand-lg header-light bg-white header-reverse glass-effect"
  >
    <div class="container-fluid">
      <div class="col-auto col-lg-2 me-lg-0 me-auto">
        <a class="navbar-brand" href="/">
          <img src={JCILogo.src} alt="" class="default-logo" />
          <img src={JCILogo.src} alt="" class="alt-logo" />
          <img src={JCILogo.src} alt="" class="mobile-logo" />
        </a>
      </div>
      <div class="col-auto ms-auto md-ms-0 menu-order position-static">
        <button
          class="navbar-toggler float-start"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav alt-font">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/partners" class="nav-link">Partners</a>
            </li>
            <li class="nav-item">
              <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto text-end d-none d-sm-flex ">
        <div class="header-icon">
          <div class="header-button">
            <a
              href="/member"
              class="btn border-1 btn-transparent-light-gray btn-medium left-icon btn-switch-text"
            >
              <span>
                <span class="btn-double-text" data-text="Join Now"
                  >Be a Member</span
                >
              </span>
            </a>
          </div>

          <div class="flex" style="margin-left: 1rem">
            <div class="social-links">
              <a
                href="https://www.instagram.com/jciregattailoilo/?hl=en"
                target="_blank"
              >
                <svg
                  fill="#3a67b1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24px"
                  height="24px"
                >
                  <path
                    d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"
                  ></path></svg
                >
              </a>
              <a href="https://www.facebook.com/jciregattailoilo" target="_blank">
                <svg
                  fill="#3a67b1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 30 30"
                  width="24px"
                  height="24px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"
                  ></path></svg
                >
              </a>
            </div>
          </div>
      </div>
        </div>
  
      
    </div>
  </nav>
  <!-- end navigation -->
</header>
<!-- end header -->
