---
import BaseLayout from "../../layouts/BaseLayout.astro";

---

<BaseLayout>
   <!-- start section -->
   <section class="big-section top-space-margin pb-0 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 atropos" data-atropos>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner" data-atropos-offset="3">
                            <img src="/src/assets/images/tosiaproj10.webp" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="pt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 mb-9">
            <div class="col md-mb-30px text-center text-lg-start">
                <h5 class="alt-font mb-0 text-dark-gray fw-500 w-80 lg-w-100">TOSIA is an annual Youth Development Program of JCI Regatta.</h5>
            </div>
            <div class="col last-paragraph-no-margin text-center text-lg-start">
                <p>TOSIA (The Outstanding Students of Iloilo Awards) intends to give due honor and credit to students who are not only outstanding in academics and leadership, but most importantly, have a high sense of social responsibility.</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="one-fourth-screen" data-parallax-background-ratio="0.5" style="background-image: url(/src/assets/images/tosiaproj13.webp)"></section>
<!-- end section -->
<!-- start section -->
<section class="overflow-hidden pb-0 pt-30px">
    <div class="container">
        <div class="row mb-50px sm-mb-30px">
            <div class="col-12">
                <img src="/src/assets/images/tosiaproj11.webp" class="w-100" alt="" /> 
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 mb-9">
            <div class="col md-mb-30px text-center text-lg-start">
                <h5 class="alt-font mb-0 text-dark-gray fw-500 w-80 lg-w-100">TOSIA -The Outstanding Students of Iloilo Awards</h5>
            </div>
            <div class="col last-paragraph-no-margin text-center text-lg-start">
                <p>TOSIA or The Outstanding Students of Iloilo Awards, a flagship youth development program holds a special place in our heart. It is a celebration of junior high school and graduating college students who excel not only in academics and leadership but also exemplify a profound sense of social responsibility. At JCI Regatta, we will continue to nurture and acknowledge these exceptional young individuals who represent the future of positive change in our communities.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="/src/assets/images/tosiaproj12.webp" class="w-100" alt="" /> 
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="overflow-hidden pb-0">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="outside-box-right-60 outside-box-left-60 sm-outside-box-right-0 sm-outside-box-left-0">
                    <div class="swiper magic-cursor drag-cursor" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 60, "loop": true, "autoplay": { "delay": 2000, "disableOnInteraction": false },  "pagination": { "el": ".slider-three-slide-pagination", "clickable": true, "dynamicBullets": true }, "navigation": { "nextEl": ".slider-three-slide-next", "prevEl": ".slider-three-slide-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper">
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <img src="/src/assets/images/tosiaproj5.webp" class="w-100" alt="" /> 
                            </div>
                            <!-- end slider item -->
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <img src="/src/assets/images/tosiaproj6.webp" class="w-100" alt="" /> 
                            </div>
                            <!-- end slider item --> 
                            <!-- start slider item --> 
                            <div class="swiper-slide">
                                <img src="/src/assets/images/tosiaproj7.webp" class="w-100" alt="" /> 
                            </div>
                            <!-- end slider item -->
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <img src="/src/assets/images/tosiaproj8.webp" class="w-100" alt="" /> 
                            </div>
                            <!-- end slider item -->
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <img src="/src/assets/images/tosiaproj9.webp" class="w-100" alt="" /> 
                            </div>
                            <!-- end slider item --> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 align-items-center justify-content-center">
            <div class="col sm-mb-30px">
                <img src="/src/assets/images/tosiaproj1.webp" alt="" />
            </div>
            <div class="col sm-mb-30px ">
                <img src="/src/assets/images/tosiaproj3.webp" alt="" />
            </div>
            <div class="col">
                <img src="/src/assets/images/tosiaproj2.webp" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- end section -->
</BaseLayout>
